<div class="form-container">
	<form method="POST" action="/users/<%=current_user.slug%>/account">
		<input id="hidden" type="hidden" name="_method" value="PATCH">
		<label for="username">username</label><br>
		<input type="text" name="user[username]" value="<%=current_user.username%>"><br>
		<label for="password">password</label><br>
		<input type="password" name="user[password]"><br>
		<input type="submit" value="Register">
	</form>
</div>
