<div class="form-container">
	<form method="POST" action="/users/<%=current_user.slug%>/account">
		<input id="hidden" type="hidden" name="_method" value="PATCH">
		<label for="username">username</label><br>
		<input type="text" name="user[username]" value="<%=current_user.username%>"><br>
		<label for="password">password</label><br>
		<input type="password" name="user[password]"><br>
		<input type="submit" value="Update">
	</form>
</div>
<div class="form-container">
	<form method="POST" action="/users/<%=current_user.slug%>/account">
		<input type="hidden" name="_method" value="DELETE">
		<label>Delete this account</label><br>
		<input type="submit" value="Delete">
	</form>
</div>
