<div class="form-container">
	<form method="POST" action="/posts/<%=@post.id%>/edit">
		<input type="hidden" name="_method" value="PATCH">
		<label for="post[code_snippet]">code snippet</label><br>
		<textarea name="post[code_snippet]"><%=@post.code_snippet%></textarea><br>
		<label for="post[description]">description</label><br>
		<textarea name="post[description]"><%=@post.description%></textarea><br>
		<input type="submit" value="Update">
	</form>
	<form method="POST" action="/posts/<%=@post.id%>/edit">
		<input type="hidden" name="_method" value="DELETE">
		<label>Delete this post</label><br>
		<input type="submit" value="Delete">
	</form>
</div>
