<div class="form-container">
	<form method="POST" action="/posts/new">
		<label for="code_snippet">code snippet</label><br>
		<textarea name="code_snippet"></textarea><br>
		<label for="description">description</label><br>
		<textarea name="description"></textarea><br>
		<input type="submit" value="Post">
	</form>
</div>
