<form method="POST" action="/posts/new">
	<label for="code_snippet">code snippet</label>
	<textarea name="code_snippet"></textarea>
	<label for="description">description</label>
	<textarea name="description"></textarea>
	<input type="submit" value="Post">
</form>
